$grid-row-cell-focus-border-width: 0 !default;
$grid-cell-inner-padding: 11px 0px 11px 24px !default;

$grid-row-cell-background-color: $base-color !default;
$grid-row-cell-alt-background-color: $grid-row-cell-background-color !default;
