.x-form-trigger-wrap {
    .x-form-trigger {
        border: none;
    }
}

.x-form-text-wrap-focus {
    @if ($form-text-field-focus-border-width) {
        border-width: $form-text-field-focus-border-width;
    }
}

.x-form-trigger-wrap-focus {
    @if ($form-trigger-focus-border-width) {
        border-width: $form-trigger-focus-border-width;
    }
    transition: border-color .2s;
}
