html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font: 14px Roboto, Sans-Serif;
}

ul {
  margin: 0;
}

input:focus {
  outline:none;
}

@import 'colors';
@import 'elevation';

@include generate-colors();
@include generate-elevation();

#app {
  height: 100%;
  width: 100%;
}

$theme-color: 'active';
$theme-font-color: 'white';

.theme-color {
  background-color: color($theme-color);
  color: color($theme-font-color);
}

@import '../widgets/css/widgets';
