html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
  overflow: hidden; // hide scrollbars
}

ul {
  margin: 0;
}

input {
  padding: 0;
  &:focus {
    outline:none;
  }
}

#app {
  height: 100%;
  width: 100%;
}
