IndentWidth: 2
ReflowComments: false
ColumnLimit: 120
DisableFormat:   false

Language: JavaScript
BasedOnStyle: Mozilla
BreakBeforeBraces: Attach
SpacesInContainerLiterals: false
SpacesInCStyleCastParentheses: true
