IndentWidth: 4
ReflowComments: false
ColumnLimit: 120
DisableFormat:   true

Language: JavaScript
BasedOnStyle: Mozilla
BreakBeforeBraces: Linux
SpacesInContainerLiterals: false
SpacesInCStyleCastParentheses: true
