*               text eol=lf
*.php           text eol=lf
*.md            text eol=lf
*.txt           text eol=lf
*.xml           text eol=lf
*.yml           text eol=lf
*.rb            text eol=lf
*.json          text eol=lf
*.js            text eol=lf
*.jpg           -text
*.png           -text
*.gif           -text
*.pdf           -text
*.eot           -text
*.svg           -text
*.ttf           -text
*.woff          -text
*.woff2         -text
*.css linguist-vendored
*.less linguist-vendored
