@font-face {
  font-family: 'Roboto';
  src: url('css/fonts/Roboto-Regular.eot?v=1');
  src: url('css/fonts/Roboto-Regular.eot?#iefix&v=1') format('embedded-opentype'), url('css/fonts/Roboto-Regular.woff?v=1') format('woff'), url('css/fonts/Roboto-Regular.ttf?v=1') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('css/fonts/Roboto-Medium.eot?v=1');
  src: url('css/fonts/Roboto-Medium.eot?#iefix&v=1') format('embedded-opentype'), url('css/fonts/Roboto-Medium.woff?v=1') format('woff'), url('css/fonts/Roboto-Medium.ttf?v=1') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// https://materialdesignicons.com/
// extended version of https://design.google.com/icons/
@font-face {
  font-family: 'Icons';
  src: url('css/fonts/materialdesignicons-webfont.eot?v=1');
  src: url('css/fonts/materialdesignicons-webfont.eot?#iefix&v=1') format('embedded-opentype'), url('css/fonts/materialdesignicons-webfont.woff?v=1') format('woff'), url('css/fonts/materialdesignicons-webfont.ttf?v=1') format('truetype');
  font-weight: normal;
  font-style: normal;
}
