/// fixed colors

$color-white: #ffffff;
$color-blue: #2196f3;
$color-black: #000000;

$color-top-toolbar: #03A9F4;
$color-top-toolbar-light: #29b7f6;

$color: $color-black !default;

$base-font-size: 14px !default;

$font-family: Roboto, sans-serif !default;
$font-size: $base-font-size !default;
$font-weight: normal !default;
$font-weight-bold: bold !default;
$line-height: $base-font-size + 4 !default;

$font-size-small: $font-size !default;
$font-family-small: "Roboto", sans-serif !default;
$font-weight-small: $font-weight !default;
$line-height-small: $line-height !default;

$font-size-medium: $font-size-small + 2 !default;
$font-family-medium: "Roboto Medium", sans-serif !default;
$font-weight-medium: $font-weight !default;
$line-height-medium: $line-height-small + 2 !default;

$font-size-large: $font-size-medium + 2 !default;
$font-family-large: "Roboto Medium", sans-serif !default;
$font-weight-large: $font-weight !default;
$line-height-large: $line-height-medium + 2 !default;

$base-color: $color-top-toolbar !default;
$base-light-color: $color-top-toolbar-light !default;
$base-highlight-color: $color-top-toolbar-light !default;

$base-dark-color: $color-black !default;

$neutral-color: red;
$neutral-light-color: red;
$neutral-dark-color: red !default;

$icon-spacing: 5px !default;

$neutral-medium-dark-color: red !default;
$include-default-uis: true !default;
$error-color: red !default;

/*

$color: #000 !default;
$font-family: helvetica, arial, verdana, sans-serif !default;
$font-size: 13px !default;
$font-weight: normal !default;
$font-weight-bold: bold !default;
$line-height: 17px !default;
$base-color: #157fcc !default;
$base-highlight-color: mix(#fff, $base-color, 15%) !default;
$base-light-color: mix(#fff, $base-color, 65%) !default;
$base-dark-color: mix(#000, $base-color, 14%) !default;
$neutral-color: #e1e1e1 !default;
$neutral-light-color: mix(#fff, $neutral-color, 68%) !default;
$confirmation-color: #73b51e !default;
$error-light-color: mix(#fff, $error-color, 20%) !default;
$confirmation-light-color: mix(#fff, $confirmation-color, 35%) !default;
$body-background-color: $neutral-light-color !default;
*/
