$elevation-list1: ('2px 1px -1px', '3px 1px -2px', '3px 3px -2px', '2px 4px -1px', '3px 5px -1px', '3px 5px -1px', '4px 5px -2px', '5px 5px -3px', '5px 6px -3px', '6px 6px -3px', '6px 7px -4px', '7px 8px -4px', '7px 8px -4px', '7px 9px -4px', '8px 9px -5px', '8px 10px -5px', '8px 11px -5px', '9px 11px -5px', '9px 12px -6px', '10px 13px -6px', '10px 13px -6px', '10px 14px -6px', '11px 14px -7px', '11px 15px -7px');
$elevation-list2: ('1px 1px 0px', '2px 2px 0px', '3px 4px 0px', '4px 5px 0px', '5px 8px 0px', '6px 10px 0px', '7px 10px 1px', '8px 10px 1px', '9px 12px 1px', '10px 14px 1px', '11px 15px 1px', '12px 17px 2px', '13px 19px 2px', '14px 21px 2px', '15px 22px 2px', '16px 24px 2px', '17px 26px 2px', '18px 28px 2px', '19px 29px 2px', '20px 31px 3px', '21px 33px 3px', '22px 35px 3px', '23px 36px 3px', '24px 38px 3px');
$elevation-list3: ('1px 3px 0px', '1px 5px 0px', '1px 8px 0px', '1px 10px 0px', '1px 14px 0px', '1px 18px 0px', '2px 16px 1px', '3px 14px 2px', '3px 16px 2px', '4px 18px 3px', '4px 20px 3px', '5px 22px 4px', '5px 24px 4px', '5px 26px 4px', '6px 28px 5px', '6px 30px 5px', '6px 32px 5px', '7px 34px 6px', '7px 36px 6px', '8px 38px 7px', '8px 40px 7px', '8px 42px 7px', '9px 44px 8px', '9px 46px 8px');


@mixin elevation($level) {
    @function elevation-get-mask($list, $level, $alpha) {
        @return #{ '0 ' + nth($list, $level) + '  '+ rgba(black, $alpha) };
    }
    @if ($level > 0) {
        box-shadow: elevation-get-mask($elevation-list1, $level, 0.2), elevation-get-mask($elevation-list2, $level, 0.14), elevation-get-mask($elevation-list3, $level, 0.12);
    } @else {
        box-shadow: none;
    }
}

@mixin generate-elevation() {
    $level: length($elevation-list1);

    @while ($level > 0) {
        #{ ".elevation-" + $level } {
            @include elevation($level);
        }
        $level: $level - 1;
    }
}

@include generate-elevation();
