$form-field-background-color: transparent;

$form-field-border-color: #cccccc !default;
$form-field-border-width: 1 !default;
$form-field-border-style: solid !default;

$form-field-focus-border-color: color('active') !default;

$form-field-invalid-border-color: color('red') !default;
$form-field-invalid-border-width: 0 0 2px 0 !default;

$form-error-msg-color: color('red');
