.x-btn {
    text-transform: uppercase;
    transition: background-color .4s transition();
    padding: 0;
    color: $button-default-color;
    &:after {
        content: "";
        pointer-events: none;
        position: absolute;
        display: inline-block;
        height: 100%;
        width: 10%;
        left: 50%;
        top: 0;
        border-radius: 50%;
        opacity: 0;
        background-color: rgb(33, 33, 33);
    }
    &:before {
        content: "";
        pointer-events: none;
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        opacity: 0;
        background-color: rgb(33, 33, 33);
        transition: opacity .4s transition();
    }
    &.x-btn-over {
        &:before {
            opacity: 0.1;
            transition: opacity .4s transition();
        }
    }
    &, &.x-btn-over {
        &, &.x-btn-focus {
            &.x-btn-pressed {
                &:after {
                    width: 100%;
                    left: 0;
                    opacity: 0.2;
                    transform: scale(2);

                    transition:
                        left .4s transition(),
                        width .4s transition(),
                        opacity .4s transition(),
                        transform .4s transition();
                }
            }
        }
    }
    &.x-btn-default-small {
        .x-btn-wrap {
            margin: 6px 0;
        }
    }
    .x-btn-wrap {
        margin: 3px 0;
    }
}

.top-toolbar {
    .x-btn {
        &, &.x-btn-focus {
            &, &.x-btn-over {
                @include elevation(2);
                &.x-btn-pressed {
                    @include elevation(8);
                    transition: box-shadow .4s transition();
                }
            }
        }
    }
}
