$panel-frame-header-padding: 20px 10px !default;
$panel-header-font-size: $font-size-large !default;
$panel-header-line-height: $line-height-large !default;
$panel-header-font-weight: $font-weight-large !default;
$panel-header-font-family: $font-family-large !default;
