$datepicker-border-width: 0;
$datepicker-column-header-border-width: 0;
$datepicker-footer-border-width: 0;
$datepicker-item-border-width: 0;
$datepicker-monthpicker-border-width: 0;
$datepicker-monthpicker-separator-border-width: 0;

$datepicker-background-color: color('white');

$datepicker-arrow-glyph-color: color('white');
$datepicker-month-button-arrow-glyph-color: color('white');

$datepicker-header-background-color: $color-top-toolbar;
$datepicker-header-padding: dynamic(16px 16px);

$datepicker-next-glyph: dynamic($fa-var-angle-right $font-size-large $font-icon-font-family);
$datepicker-prev-glyph: dynamic($fa-var-angle-left $font-size-large $font-icon-font-family);

$datepicker-item-padding: dynamic(8px);
$datepicker-item-text-align: dynamic(center);

$datepicker-item-selected-color: color('white');
$datepicker-item-selected-border-style: dynamic(none);
$datepicker-item-selected-background-color: $datepicker-header-background-color;

$datepicker-column-header-color: color('gray');
$datepicker-column-header-item-padding: dynamic(8px);
$datepicker-column-header-font-weight: dynamic($datepicker-item-font-weight);

$datepicker-month-button-color: color('white');
$datepicker-month-button-font-size: dynamic($button-large-font-size);

$datepicker-footer-background-color: color('white');

$datepicker-yearnav-arrow-glyph-color: color('black');
