$ext-var-chevron-right: "\0F142";
$ext-var-double-chevron-right: "\0F13E";
$ext-var-chevron-left: "\0F141";
$ext-var-double-chevron-left: "\0F13D";

$fa-var-refresh: "\0F450";

$ext-var-checkbox-unchecked: "\0F131";
$ext-var-checkbox-checked: "\0F135";

$fa-var-close: "\0F156";
$fa-var-caret-down: "\0F35D";

$fa-var-calendar: "\0F0ED";
$fa-var-calendar-check-o: "\0F0EF";

$fa-var-angle-double-down: "\f13c";
$fa-var-angle-double-left: "\f13d";
$fa-var-angle-double-right: "\f13e";
$fa-var-angle-double-up: "\f13f";

$fa-var-angle-down: "\f140";
$fa-var-angle-left: "\f141";
$fa-var-angle-right: "\f142";
$fa-var-angle-up: "\f143";
