$ext-var-chevron-right: "\0F142";
$ext-var-double-chevron-right: "\0F13E";
$ext-var-chevron-left: "\0F141";
$ext-var-double-chevron-left: "\0F13D";
$ext-var-checkbox-unchecked: "\0F131";
$ext-var-checkbox-checked: "\0F135";

//$ext-var-sencha: "\e61e";
$ext-var-sort-down: "\f4bd";
$ext-var-sort-up: "\f4bc";
//$ext-var-spinner-down: "\e61b";
//$ext-var-spinner-up: "\e61c";
//$ext-var-square-edit: "\e61d";
//$ext-var-equals-vertical: "\e612";
//$ext-var-collapse: "\e600";
//$ext-var-columns: "\e601";
//$ext-var-dirty: "\e602";
//$ext-var-dirty-rtl: "\e603";
//$ext-var-edit-html: "\e604";
//$ext-var-equals: "\e605";
//$ext-var-expand: "\e606";
//$ext-var-group-by: "\e607";
//$ext-var-minimize: "\e608";
//$ext-var-nw-handle: "\e609";
//$ext-var-ne-handle: "\e60a";
//$ext-var-sw-handle: "\e60b";
//$ext-var-se-handle: "\e60c";
//$ext-var-text-background-color: "\e60d";
//$ext-var-text-color: "\e60e";
//$ext-var-text-decrease: "\e60f";
//$ext-var-text-increase: "\e610";
//$ext-var-unpin: "\e611";


$fa-var-refresh: "\0F450";
$fa-var-close: "\0F156";
$fa-var-caret-down: "\0F35D";

$fa-var-calendar: "\0F0ED";
$fa-var-calendar-check-o: "\0F0EF";

$fa-var-angle-double-down: "\f13c";
$fa-var-angle-double-left: "\f13d";
$fa-var-angle-double-right: "\f13e";
$fa-var-angle-double-up: "\f13f";

$fa-var-angle-down: "\f140";
$fa-var-angle-left: "\f141";
$fa-var-angle-right: "\f142";
$fa-var-angle-up: "\f143";
