$loadmask-opacity: 0.7 !default;
$loadmask-background-color: #fff !default;
$loadmask-msg-padding: 0 !default;

$loadmask-spinner-color: color('blue') !default;
$loadmask-spinner-width: 7px !default;
$loadmask-spinner-size: 80px !default;

$loadmask-msg-background-color: transparent !default;
$loadmask-msg-inner-icon-position: center 0 !default;
$loadmask-msg-inner-color: #666 !default;

$loadmask-msg-inner-background-color: transparent !default;
$loadmask-msg-inner-padding: 0 !default;
$loadmask-msg-inner-icon: null !default;

$loadmask-msg-text-padding: 0 !default;
$loadmask-msg-inner-border-width: 0 !default;
$loadmask-msg-border-width: 0 !default;
$loadmask-msg-border-radius: 0 !default;
