@import 'Tab_animate';

@mixin extjs-tab-djem() {
    @include extjs-tab-animate-djem($tab-base-color, $tab-base-color-active, 'x-tab-default');

    .x-tab-button {
        text-transform: uppercase;
    }
    .x-tab-inner {
        max-width: 250px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@include extjs-tab-djem();
