$toolbar-background-color: $color-top-toolbar !default;

$toolbar-vertical-spacing: 12px !default;
$toolbar-horizontal-spacing: 8px !default;

$toolbar-left-padding: 14px !default;
$toolbar-border-width: 0 !default;

$toolbar-footer-background-color: $base-color !default;
