$grid-column-header-font-family: $font-family !default;
$grid-column-header-font-size: $font-size-medium !default;
$grid-column-header-font-weight: $font-weight-medium !default;
$grid-column-header-line-height: $line-height-medium !default;

$grid-column-header-color: color('gray') !default;
$grid-column-header-focus-border-color: null !default;
