$grid-column-header-font-family: $font-family !default;
$grid-column-header-font-size: $font-size-medium !default;
$grid-column-header-font-weight: $font-weight-medium !default;
$grid-column-header-line-height: $line-height-medium !default;

$grid-column-header-color: color('grey') !default;
$grid-column-header-focus-border-color: null !default;

$grid-column-header-focus-border-width: none !default;
$grid-column-header-focus-border-style: null !default;

$grid-header-sort-asc-glyph: '' !default;
$grid-header-sort-desc-glyph: '' !default;
