$grid-header-padding: 12px 24px !default;
$grid-header-sort-icon-position: 0 !default;
$grid-header-sort-icon-width: 0 !default;
$grid-header-sort-icon-spacing: 0 !default;
$grid-header-over-background-gradient: null !default;

$grid-header-over-background-color: $base-color !default;
$grid-header-background-color: $base-color !default;
