$form-label-vertical-spacing: 0 !default;
$form-label-font-size: 12px !default;
$form-label-line-height: 12px !default;

$form-label-empty-color: color('black') !default;
$form-label-font-color: color('disabled') !default;
$form-label-focus-color: color('active') !default;

$form-toolbar-label-line-height: $form-label-line-height !default;
