.main-searchToolbarField {
    .x-form-text-wrap {
        height: 30px;
        &:before {
            content: '\0E8B6';
            font: normal 24px/24px Icons;
            display: inline-block;
            color: color('black');
            right: 0;
            top: 30px / 2 - 24px / 2;
            position: absolute;
            cursor: pointer;
        }
        .x-form-text {
            padding: 0 28px 0 4px;
        }
    }
    .x-form-trigger-wrap-default.x-form-trigger-wrap-focus {
        border-color: color('amber');
        transition: all .2s transition('fast-slow');
    }
}
