.x-tree-panel.main-tree {
    .x-grid-tree-node-leaf {
        .x-grid-cell-inner > div .arrow {
            display: none;
        }
    }
    .x-grid-item-selected {
        .x-grid-cell-inner > div .arrow {
            color: white;
        }
    }
    .x-grid-cell-inner {
        > div {
            $size: 40px;
            $padding: 8px;

            padding: $padding / 2;
            display: table;
            width: 100%;
            table-layout: fixed;

            .icon {
                display: table-cell;
                font-family: Icons;
                font-size: $size * 2/3;
                width: $size;
                height: $size;
                overflow: hidden;
                text-align: center;
                vertical-align: middle;
                border-radius: $size;
            }
            .title {
                display: table-cell;
                width: 100%;
                padding-left: $padding;
                vertical-align: middle;
                white-space: nowrap;
                .name {
                    font-size: 16px;
                    color: #000;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .desc {
                    font-size: 14px;
                    color: #999999;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .arrow {
                display: table-cell;
                font-family: Icons;
                color: black;
                font-size: 24px;
                width: 24px;
                line-height: $size;
            }

            &.first {
                color: white;
            }
            &.second {
                $subsize: $size * 2 / 3;
                .padding {
                    width: $size + $padding;
                    display: table-cell;
                    + .padding {
                        width: 30px;
                    }
                }
                .icon {
                    width: $subsize;
                    height: $subsize;
                    font-size: $subsize * 2 / 3;
                    background: none;
                    border-radius: 0;
                }
                .title {
                    padding-left: $padding / 2;
                    .name {
                        font-size: $subsize / 2;
                    }
                    .desc {
                        display: none;
                    }
                }
                .arrow {
                    line-height: $subsize;
                }
            }
        }
    }
}

