html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
  overflow: auto; }

ul {
  margin: 0; }

input {
  padding: 0; }
  input:focus {
    outline: none; }

#app {
  height: 100%;
  width: 100%; }

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }

.fullHeight {
  height: 100%; }

.Main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; }

.Grid {
  flex: 1;
  display: none; }
  .Grid-visible {
    display: flex; }
  .Grid__container {
    flex: 1;
    display: flex; }

.Tree {
  height: 100%;
  width: 300px;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
  display: flex; }

.ContentContainer {
  height: 100%;
  width: 100%;
  display: none;
  flex-direction: column; }
  .ContentContainer-visible {
    display: flex; }

.Content {
  display: none;
  flex-direction: column;
  height: 100%;
  overflow: auto; }
  .Content-visible {
    display: flex; }

.Content-save-button {
  position: fixed;
  z-index: 1200;
  right: 4px;
  top: 4px;
  height: 40px;
  width: 128px; }
  .Content-save-button button {
    width: 100%;
    height: 100%; }

.djem-layout-autoscroll {
  overflow: auto; }

.djem-layout-type-hbox {
  flex-direction: row; }

.djem-layout-type-vbox {
  flex-direction: column; }

.djem-layout {
  display: flex; }

.djem-widget {
  border-collapse: collapse; }

.djem-button button:hover:after {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.1; }
