html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
  overflow: auto; }

ul {
  margin: 0; }

input {
  padding: 0; }
  input:focus {
    outline: none; }

#app {
  height: 100%;
  width: 100%; }

.Main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; }

.Grid {
  flex: 1;
  display: flex; }
  .Grid__container {
    flex: 1;
    display: flex; }

.Tree {
  height: 100%;
  width: 300px;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
  display: flex; }

.Content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto; }
