html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
  overflow: hidden; }

ul {
  margin: 0; }

input {
  padding: 0; }
  input:focus {
    outline: none; }

#app {
  height: 100%;
  width: 100%; }
