$form-text-field-border-width: 0 0 1px 0 !default;
$form-text-field-focus-border-width: 0 0 2px 0 !default;
$form-text-field-padding: 0 !default;

$form-trigger-border-width: 0 0 2px 0 !default;
$form-trigger-focus-border-width: $form-trigger-border-width !default;
$form-trigger-focus-border-color: color('active') !default;
$form-trigger-focus-border-style: solid !default;
