$tabbar-strip-height: 0 !default;
$tab-font-weight: $font-weight-medium !default;
$tab-font-family: $font-family-medium !default;
$tab-font-size: $font-size-medium !default;

$tab-icon-height: $tab-font-size + 8 !default;
$tab-icon-width: $tab-icon-height !default;

$tab-padding: 6px 24px 7px 24px!default;
$tab-margin: 0 2px 0 0 !default;
$tab-border-radius: 3px 3px 0 0 !default;

$tab-base-color: #efefef !default;


$tab-base-color-over: $tab-base-color !default;
$tab-base-color-active: color('white') !default;


$tab-border-width: 0 !default;


$tab-color: #999999 !default;

$tab-color-active: color('black') !default;


$tab-inner-border-width-focus: 0 !default;


$tab-text-opacity-disabled: 1 !default;






$tab-glyph-opacity: 1 !default;
$tab-glyph-opacity-disabled: 1 !default;
$tab-opacity-disabled: 1 !default;
$tab-text-opacity-disabled: 1 !default;
$tab-icon-opacity-disabled: 1 !default;
