.color-aliceblue { color: #F0F8FF; }
.color-aliceblue-background { background-color: #F0F8FF; }
.color-antiquewhite  { color: #FAEBD7; }
.color-antiquewhite-background  { background-color: #FAEBD7; }
.color-antiquewhite1 { color: #FFEFDB; }
.color-antiquewhite1-background { background-color: #FFEFDB; }
.color-antiquewhite2 { color: #EEDFCC; }
.color-antiquewhite2-background { background-color: #EEDFCC; }
.color-antiquewhite3 { color: #CDC0B0; }
.color-antiquewhite3-background { background-color: #CDC0B0; }
.color-antiquewhite4 { color: #8B8378; }
.color-antiquewhite4-background { background-color: #8B8378; }
.color-aquamarine  { color: #7FFFD4; }
.color-aquamarine-background  { background-color: #7FFFD4; }
.color-aquamarine1 { color: #7FFFD4; }
.color-aquamarine1-background { background-color: #7FFFD4; }
.color-aquamarine2 { color: #76EEC6; }
.color-aquamarine2-background { background-color: #76EEC6; }
.color-aquamarine3 { color: #66CDAA; }
.color-aquamarine3-background { background-color: #66CDAA; }
.color-aquamarine4 { color: #458B74; }
.color-aquamarine4-background { background-color: #458B74; }
.color-azure { color: #F0FFFF; }
.color-azure-background { background-color: #F0FFFF; }
.color-azure1  { color: #F0FFFF; }
.color-azure1-background  { background-color: #F0FFFF; }
.color-azure2  { color: #E0EEEE; }
.color-azure2-background  { background-color: #E0EEEE; }
.color-azure3  { color: #C1CDCD; }
.color-azure3-background  { background-color: #C1CDCD; }
.color-azure4  { color: #838B8B; }
.color-azure4-background  { background-color: #838B8B; }
.color-beige { color: #F5F5DC; }
.color-beige-background { background-color: #F5F5DC; }
.color-bisque  { color: #FFE4C4; }
.color-bisque-background  { background-color: #FFE4C4; }
.color-bisque1 { color: #FFE4C4; }
.color-bisque1-background { background-color: #FFE4C4; }
.color-bisque2 { color: #EED5B7; }
.color-bisque2-background { background-color: #EED5B7; }
.color-bisque3 { color: #CDB79E; }
.color-bisque3-background { background-color: #CDB79E; }
.color-bisque4 { color: #8B7D6B; }
.color-bisque4-background { background-color: #8B7D6B; }
.color-black { color: #000000; }
.color-black-background { background-color: #000000; }
.color-blanchedalmond  { color: #FFEBCD; }
.color-blanchedalmond-background  { background-color: #FFEBCD; }
.color-blue  { color: #0000FF; }
.color-blue-background  { background-color: #0000FF; }
.color-blue1 { color: #0000FF; }
.color-blue1-background { background-color: #0000FF; }
.color-blue2 { color: #0000EE; }
.color-blue2-background { background-color: #0000EE; }
.color-blue3 { color: #0000CD; }
.color-blue3-background { background-color: #0000CD; }
.color-blue4 { color: #00008B; }
.color-blue4-background { background-color: #00008B; }
.color-blueviolet  { color: #8A2BE2; }
.color-blueviolet-background  { background-color: #8A2BE2; }
.color-brown { color: #A52A2A; }
.color-brown-background { background-color: #A52A2A; }
.color-brown1  { color: #FF4040; }
.color-brown1-background  { background-color: #FF4040; }
.color-brown2  { color: #EE3B3B; }
.color-brown2-background  { background-color: #EE3B3B; }
.color-brown3  { color: #CD3333; }
.color-brown3-background  { background-color: #CD3333; }
.color-brown4  { color: #8B2323; }
.color-brown4-background  { background-color: #8B2323; }
.color-burlywood { color: #DEB887; }
.color-burlywood-background { background-color: #DEB887; }
.color-burlywood1  { color: #FFD39B; }
.color-burlywood1-background  { background-color: #FFD39B; }
.color-burlywood2  { color: #EEC591; }
.color-burlywood2-background  { background-color: #EEC591; }
.color-burlywood3  { color: #CDAA7D; }
.color-burlywood3-background  { background-color: #CDAA7D; }
.color-burlywood4  { color: #8B7355; }
.color-burlywood4-background  { background-color: #8B7355; }
.color-cadetblue { color: #5F9EA0; }
.color-cadetblue-background { background-color: #5F9EA0; }
.color-cadetblue1  { color: #98F5FF; }
.color-cadetblue1-background  { background-color: #98F5FF; }
.color-cadetblue2  { color: #8EE5EE; }
.color-cadetblue2-background  { background-color: #8EE5EE; }
.color-cadetblue3  { color: #7AC5CD; }
.color-cadetblue3-background  { background-color: #7AC5CD; }
.color-cadetblue4  { color: #53868B; }
.color-cadetblue4-background  { background-color: #53868B; }
.color-chartreuse  { color: #7FFF00; }
.color-chartreuse-background  { background-color: #7FFF00; }
.color-chartreuse1 { color: #7FFF00; }
.color-chartreuse1-background { background-color: #7FFF00; }
.color-chartreuse2 { color: #76EE00; }
.color-chartreuse2-background { background-color: #76EE00; }
.color-chartreuse3 { color: #66CD00; }
.color-chartreuse3-background { background-color: #66CD00; }
.color-chartreuse4 { color: #458B00; }
.color-chartreuse4-background { background-color: #458B00; }
.color-chocolate { color: #D2691E; }
.color-chocolate-background { background-color: #D2691E; }
.color-chocolate1  { color: #FF7F24; }
.color-chocolate1-background  { background-color: #FF7F24; }
.color-chocolate2  { color: #EE7621; }
.color-chocolate2-background  { background-color: #EE7621; }
.color-chocolate3  { color: #CD661D; }
.color-chocolate3-background  { background-color: #CD661D; }
.color-chocolate4  { color: #8B4513; }
.color-chocolate4-background  { background-color: #8B4513; }
.color-coral { color: #FF7F50; }
.color-coral-background { background-color: #FF7F50; }
.color-coral1  { color: #FF7256; }
.color-coral1-background  { background-color: #FF7256; }
.color-coral2  { color: #EE6A50; }
.color-coral2-background  { background-color: #EE6A50; }
.color-coral3  { color: #CD5B45; }
.color-coral3-background  { background-color: #CD5B45; }
.color-coral4  { color: #8B3E2F; }
.color-coral4-background  { background-color: #8B3E2F; }
.color-cornflowerblue  { color: #6495ED; }
.color-cornflowerblue-background  { background-color: #6495ED; }
.color-cornsilk  { color: #FFF8DC; }
.color-cornsilk-background  { background-color: #FFF8DC; }
.color-cornsilk1 { color: #FFF8DC; }
.color-cornsilk1-background { background-color: #FFF8DC; }
.color-cornsilk2 { color: #EEE8CD; }
.color-cornsilk2-background { background-color: #EEE8CD; }
.color-cornsilk3 { color: #CDC8B1; }
.color-cornsilk3-background { background-color: #CDC8B1; }
.color-cornsilk4 { color: #8B8878; }
.color-cornsilk4-background { background-color: #8B8878; }
.color-crimson { color: #DC143C; }
.color-crimson-background { background-color: #DC143C; }
.color-cyan  { color: #00FFFF; }
.color-cyan-background  { background-color: #00FFFF; }
.color-cyan1 { color: #00FFFF; }
.color-cyan1-background { background-color: #00FFFF; }
.color-cyan2 { color: #00EEEE; }
.color-cyan2-background { background-color: #00EEEE; }
.color-cyan3 { color: #00CDCD; }
.color-cyan3-background { background-color: #00CDCD; }
.color-cyan4 { color: #008B8B; }
.color-cyan4-background { background-color: #008B8B; }
.color-darkblue  { color: #00008B; }
.color-darkblue-background  { background-color: #00008B; }
.color-darkcyan  { color: #008B8B; }
.color-darkcyan-background  { background-color: #008B8B; }
.color-darkgoldenrod { color: #B8860B; }
.color-darkgoldenrod-background { background-color: #B8860B; }
.color-darkgoldenrod1  { color: #FFB90F; }
.color-darkgoldenrod1-background  { background-color: #FFB90F; }
.color-darkgoldenrod2  { color: #EEAD0E; }
.color-darkgoldenrod2-background  { background-color: #EEAD0E; }
.color-darkgoldenrod3  { color: #CD950C; }
.color-darkgoldenrod3-background  { background-color: #CD950C; }
.color-darkgoldenrod4  { color: #8B6508; }
.color-darkgoldenrod4-background  { background-color: #8B6508; }
.color-darkgray  { color: #A9A9A9; }
.color-darkgray-background  { background-color: #A9A9A9; }
.color-darkgreen { color: #006400; }
.color-darkgreen-background { background-color: #006400; }
.color-darkgrey  { color: #A9A9A9; }
.color-darkgrey-background  { background-color: #A9A9A9; }
.color-darkkhaki { color: #BDB76B; }
.color-darkkhaki-background { background-color: #BDB76B; }
.color-darkmagenta { color: #8B008B; }
.color-darkmagenta-background { background-color: #8B008B; }
.color-darkolivegreen  { color: #556B2F; }
.color-darkolivegreen-background  { background-color: #556B2F; }
.color-darkolivegreen1 { color: #CAFF70; }
.color-darkolivegreen1-background { background-color: #CAFF70; }
.color-darkolivegreen2 { color: #BCEE68; }
.color-darkolivegreen2-background { background-color: #BCEE68; }
.color-darkolivegreen3 { color: #A2CD5A; }
.color-darkolivegreen3-background { background-color: #A2CD5A; }
.color-darkolivegreen4 { color: #6E8B3D; }
.color-darkolivegreen4-background { background-color: #6E8B3D; }
.color-darkorange  { color: #FF8C00; }
.color-darkorange-background  { background-color: #FF8C00; }
.color-darkorange1 { color: #FF7F00; }
.color-darkorange1-background { background-color: #FF7F00; }
.color-darkorange2 { color: #EE7600; }
.color-darkorange2-background { background-color: #EE7600; }
.color-darkorange3 { color: #CD6600; }
.color-darkorange3-background { background-color: #CD6600; }
.color-darkorange4 { color: #8B4500; }
.color-darkorange4-background { background-color: #8B4500; }
.color-darkorchid  { color: #9932CC; }
.color-darkorchid-background  { background-color: #9932CC; }
.color-darkorchid1 { color: #BF3EFF; }
.color-darkorchid1-background { background-color: #BF3EFF; }
.color-darkorchid2 { color: #B23AEE; }
.color-darkorchid2-background { background-color: #B23AEE; }
.color-darkorchid3 { color: #9A32CD; }
.color-darkorchid3-background { background-color: #9A32CD; }
.color-darkorchid4 { color: #68228B; }
.color-darkorchid4-background { background-color: #68228B; }
.color-darkred { color: #8B0000; }
.color-darkred-background { background-color: #8B0000; }
.color-darksalmon  { color: #E9967A; }
.color-darksalmon-background  { background-color: #E9967A; }
.color-darkseagreen  { color: #8FBC8F; }
.color-darkseagreen-background  { background-color: #8FBC8F; }
.color-darkseagreen1 { color: #C1FFC1; }
.color-darkseagreen1-background { background-color: #C1FFC1; }
.color-darkseagreen2 { color: #B4EEB4; }
.color-darkseagreen2-background { background-color: #B4EEB4; }
.color-darkseagreen3 { color: #9BCD9B; }
.color-darkseagreen3-background { background-color: #9BCD9B; }
.color-darkseagreen4 { color: #698B69; }
.color-darkseagreen4-background { background-color: #698B69; }
.color-darkslateblue { color: #483D8B; }
.color-darkslateblue-background { background-color: #483D8B; }
.color-darkslategray { color: #2F4F4F; }
.color-darkslategray-background { background-color: #2F4F4F; }
.color-darkslategray1  { color: #97FFFF; }
.color-darkslategray1-background  { background-color: #97FFFF; }
.color-darkslategray2  { color: #8DEEEE; }
.color-darkslategray2-background  { background-color: #8DEEEE; }
.color-darkslategray3  { color: #79CDCD; }
.color-darkslategray3-background  { background-color: #79CDCD; }
.color-darkslategray4  { color: #528B8B; }
.color-darkslategray4-background  { background-color: #528B8B; }
.color-darkslategrey { color: #2F4F4F; }
.color-darkslategrey-background { background-color: #2F4F4F; }
.color-darkturquoise { color: #00CED1; }
.color-darkturquoise-background { background-color: #00CED1; }
.color-darkviolet  { color: #9400D3; }
.color-darkviolet-background  { background-color: #9400D3; }
.color-deeppink  { color: #FF1493; }
.color-deeppink-background  { background-color: #FF1493; }
.color-deeppink1 { color: #FF1493; }
.color-deeppink1-background { background-color: #FF1493; }
.color-deeppink2 { color: #EE1289; }
.color-deeppink2-background { background-color: #EE1289; }
.color-deeppink3 { color: #CD1076; }
.color-deeppink3-background { background-color: #CD1076; }
.color-deeppink4 { color: #8B0A50; }
.color-deeppink4-background { background-color: #8B0A50; }
.color-deepskyblue { color: #00BFFF; }
.color-deepskyblue-background { background-color: #00BFFF; }
.color-deepskyblue1  { color: #00BFFF; }
.color-deepskyblue1-background  { background-color: #00BFFF; }
.color-deepskyblue2  { color: #00B2EE; }
.color-deepskyblue2-background  { background-color: #00B2EE; }
.color-deepskyblue3  { color: #009ACD; }
.color-deepskyblue3-background  { background-color: #009ACD; }
.color-deepskyblue4  { color: #00688B; }
.color-deepskyblue4-background  { background-color: #00688B; }
.color-dimgray { color: #696969; }
.color-dimgray-background { background-color: #696969; }
.color-dimgrey { color: #696969; }
.color-dimgrey-background { background-color: #696969; }
.color-dodgerblue  { color: #1E90FF; }
.color-dodgerblue-background  { background-color: #1E90FF; }
.color-dodgerblue1 { color: #1E90FF; }
.color-dodgerblue1-background { background-color: #1E90FF; }
.color-dodgerblue2 { color: #1C86EE; }
.color-dodgerblue2-background { background-color: #1C86EE; }
.color-dodgerblue3 { color: #1874CD; }
.color-dodgerblue3-background { background-color: #1874CD; }
.color-dodgerblue4 { color: #104E8B; }
.color-dodgerblue4-background { background-color: #104E8B; }
.color-firebrick { color: #B22222; }
.color-firebrick-background { background-color: #B22222; }
.color-firebrick1  { color: #FF3030; }
.color-firebrick1-background  { background-color: #FF3030; }
.color-firebrick2  { color: #EE2C2C; }
.color-firebrick2-background  { background-color: #EE2C2C; }
.color-firebrick3  { color: #CD2626; }
.color-firebrick3-background  { background-color: #CD2626; }
.color-firebrick4  { color: #8B1A1A; }
.color-firebrick4-background  { background-color: #8B1A1A; }
.color-floralwhite { color: #FFFAF0; }
.color-floralwhite-background { background-color: #FFFAF0; }
.color-forestgreen { color: #228B22; }
.color-forestgreen-background { background-color: #228B22; }
.color-gainsboro { color: #DCDCDC; }
.color-gainsboro-background { background-color: #DCDCDC; }
.color-ghostwhite  { color: #F8F8FF; }
.color-ghostwhite-background  { background-color: #F8F8FF; }
.color-gold  { color: #FFD700; }
.color-gold-background  { background-color: #FFD700; }
.color-gold1 { color: #FFD700; }
.color-gold1-background { background-color: #FFD700; }
.color-gold2 { color: #EEC900; }
.color-gold2-background { background-color: #EEC900; }
.color-gold3 { color: #CDAD00; }
.color-gold3-background { background-color: #CDAD00; }
.color-gold4 { color: #8B7500; }
.color-gold4-background { background-color: #8B7500; }
.color-goldenrod { color: #DAA520; }
.color-goldenrod-background { background-color: #DAA520; }
.color-goldenrod1  { color: #FFC125; }
.color-goldenrod1-background  { background-color: #FFC125; }
.color-goldenrod2  { color: #EEB422; }
.color-goldenrod2-background  { background-color: #EEB422; }
.color-goldenrod3  { color: #CD9B1D; }
.color-goldenrod3-background  { background-color: #CD9B1D; }
.color-goldenrod4  { color: #8B6914; }
.color-goldenrod4-background  { background-color: #8B6914; }
.color-green { color: #00FF00; }
.color-green-background { background-color: #00FF00; }
.color-green1  { color: #00FF00; }
.color-green1-background  { background-color: #00FF00; }
.color-green2  { color: #00EE00; }
.color-green2-background  { background-color: #00EE00; }
.color-green3  { color: #00CD00; }
.color-green3-background  { background-color: #00CD00; }
.color-green4  { color: #008B00; }
.color-green4-background  { background-color: #008B00; }
.color-greenyellow { color: #ADFF2F; }
.color-greenyellow-background { background-color: #ADFF2F; }
.color-honeydew  { color: #F0FFF0; }
.color-honeydew-background  { background-color: #F0FFF0; }
.color-honeydew1 { color: #F0FFF0; }
.color-honeydew1-background { background-color: #F0FFF0; }
.color-honeydew2 { color: #E0EEE0; }
.color-honeydew2-background { background-color: #E0EEE0; }
.color-honeydew3 { color: #C1CDC1; }
.color-honeydew3-background { background-color: #C1CDC1; }
.color-honeydew4 { color: #838B83; }
.color-honeydew4-background { background-color: #838B83; }
.color-hotpink { color: #FF69B4; }
.color-hotpink-background { background-color: #FF69B4; }
.color-hotpink1  { color: #FF6EB4; }
.color-hotpink1-background  { background-color: #FF6EB4; }
.color-hotpink2  { color: #EE6AA7; }
.color-hotpink2-background  { background-color: #EE6AA7; }
.color-hotpink3  { color: #CD6090; }
.color-hotpink3-background  { background-color: #CD6090; }
.color-hotpink4  { color: #8B3A62; }
.color-hotpink4-background  { background-color: #8B3A62; }
.color-indianred { color: #CD5C5C; }
.color-indianred-background { background-color: #CD5C5C; }
.color-indianred1  { color: #FF6A6A; }
.color-indianred1-background  { background-color: #FF6A6A; }
.color-indianred2  { color: #EE6363; }
.color-indianred2-background  { background-color: #EE6363; }
.color-indianred3  { color: #CD5555; }
.color-indianred3-background  { background-color: #CD5555; }
.color-indianred4  { color: #8B3A3A; }
.color-indianred4-background  { background-color: #8B3A3A; }
.color-indigo  { color: #4B0082; }
.color-indigo-background  { background-color: #4B0082; }
.color-indigo2 { color: #218868; }
.color-indigo2-background { background-color: #218868; }
.color-ivory { color: #FFFFF0; }
.color-ivory-background { background-color: #FFFFF0; }
.color-ivory1  { color: #FFFFF0; }
.color-ivory1-background  { background-color: #FFFFF0; }
.color-ivory2  { color: #EEEEE0; }
.color-ivory2-background  { background-color: #EEEEE0; }
.color-ivory3  { color: #CDCDC1; }
.color-ivory3-background  { background-color: #CDCDC1; }
.color-ivory4  { color: #8B8B83; }
.color-ivory4-background  { background-color: #8B8B83; }
.color-khaki { color: #F0E68C; }
.color-khaki-background { background-color: #F0E68C; }
.color-khaki1  { color: #FFF68F; }
.color-khaki1-background  { background-color: #FFF68F; }
.color-khaki2  { color: #EEE685; }
.color-khaki2-background  { background-color: #EEE685; }
.color-khaki3  { color: #CDC673; }
.color-khaki3-background  { background-color: #CDC673; }
.color-khaki4  { color: #8B864E; }
.color-khaki4-background  { background-color: #8B864E; }
.color-lavender  { color: #E6E6FA; }
.color-lavender-background  { background-color: #E6E6FA; }
.color-lavenderblush { color: #FFF0F5; }
.color-lavenderblush-background { background-color: #FFF0F5; }
.color-lavenderblush1  { color: #FFF0F5; }
.color-lavenderblush1-background  { background-color: #FFF0F5; }
.color-lavenderblush2  { color: #EEE0E5; }
.color-lavenderblush2-background  { background-color: #EEE0E5; }
.color-lavenderblush3  { color: #CDC1C5; }
.color-lavenderblush3-background  { background-color: #CDC1C5; }
.color-lavenderblush4  { color: #8B8386; }
.color-lavenderblush4-background  { background-color: #8B8386; }
.color-lawngreen { color: #7CFC00; }
.color-lawngreen-background { background-color: #7CFC00; }
.color-lemonchiffon  { color: #FFFACD; }
.color-lemonchiffon-background  { background-color: #FFFACD; }
.color-lemonchiffon1 { color: #FFFACD; }
.color-lemonchiffon1-background { background-color: #FFFACD; }
.color-lemonchiffon2 { color: #EEE9BF; }
.color-lemonchiffon2-background { background-color: #EEE9BF; }
.color-lemonchiffon3 { color: #CDC9A5; }
.color-lemonchiffon3-background { background-color: #CDC9A5; }
.color-lemonchiffon4 { color: #8B8970; }
.color-lemonchiffon4-background { background-color: #8B8970; }
.color-lightblue { color: #ADD8E6; }
.color-lightblue-background { background-color: #ADD8E6; }
.color-lightblue1  { color: #BFEFFF; }
.color-lightblue1-background  { background-color: #BFEFFF; }
.color-lightblue2  { color: #B2DFEE; }
.color-lightblue2-background  { background-color: #B2DFEE; }
.color-lightblue3  { color: #9AC0CD; }
.color-lightblue3-background  { background-color: #9AC0CD; }
.color-lightblue4  { color: #68838B; }
.color-lightblue4-background  { background-color: #68838B; }
.color-lightcoral  { color: #F08080; }
.color-lightcoral-background  { background-color: #F08080; }
.color-lightcyan { color: #E0FFFF; }
.color-lightcyan-background { background-color: #E0FFFF; }
.color-lightcyan1  { color: #E0FFFF; }
.color-lightcyan1-background  { background-color: #E0FFFF; }
.color-lightcyan2  { color: #D1EEEE; }
.color-lightcyan2-background  { background-color: #D1EEEE; }
.color-lightcyan3  { color: #B4CDCD; }
.color-lightcyan3-background  { background-color: #B4CDCD; }
.color-lightcyan4  { color: #7A8B8B; }
.color-lightcyan4-background  { background-color: #7A8B8B; }
.color-lightgoldenrod  { color: #EEDD82; }
.color-lightgoldenrod-background  { background-color: #EEDD82; }
.color-lightgoldenrod1 { color: #FFEC8B; }
.color-lightgoldenrod1-background { background-color: #FFEC8B; }
.color-lightgoldenrod2 { color: #EEDC82; }
.color-lightgoldenrod2-background { background-color: #EEDC82; }
.color-lightgoldenrod3 { color: #CDBE70; }
.color-lightgoldenrod3-background { background-color: #CDBE70; }
.color-lightgoldenrod4 { color: #8B814C; }
.color-lightgoldenrod4-background { background-color: #8B814C; }
.color-lightgoldenrodyellow  { color: #FAFAD2; }
.color-lightgoldenrodyellow-background  { background-color: #FAFAD2; }
.color-lightgray { color: #D3D3D3; }
.color-lightgray-background { background-color: #D3D3D3; }
.color-lightgreen  { color: #90EE90; }
.color-lightgreen-background  { background-color: #90EE90; }
.color-lightgrey { color: #D3D3D3; }
.color-lightgrey-background { background-color: #D3D3D3; }
.color-lightpink { color: #FFB6C1; }
.color-lightpink-background { background-color: #FFB6C1; }
.color-lightpink1  { color: #FFAEB9; }
.color-lightpink1-background  { background-color: #FFAEB9; }
.color-lightpink2  { color: #EEA2AD; }
.color-lightpink2-background  { background-color: #EEA2AD; }
.color-lightpink3  { color: #CD8C95; }
.color-lightpink3-background  { background-color: #CD8C95; }
.color-lightpink4  { color: #8B5F65; }
.color-lightpink4-background  { background-color: #8B5F65; }
.color-lightsalmon { color: #FFA07A; }
.color-lightsalmon-background { background-color: #FFA07A; }
.color-lightsalmon1  { color: #FFA07A; }
.color-lightsalmon1-background  { background-color: #FFA07A; }
.color-lightsalmon2  { color: #EE9572; }
.color-lightsalmon2-background  { background-color: #EE9572; }
.color-lightsalmon3  { color: #CD8162; }
.color-lightsalmon3-background  { background-color: #CD8162; }
.color-lightsalmon4  { color: #8B5742; }
.color-lightsalmon4-background  { background-color: #8B5742; }
.color-lightseagreen { color: #20B2AA; }
.color-lightseagreen-background { background-color: #20B2AA; }
.color-lightskyblue  { color: #87CEFA; }
.color-lightskyblue-background  { background-color: #87CEFA; }
.color-lightskyblue1 { color: #B0E2FF; }
.color-lightskyblue1-background { background-color: #B0E2FF; }
.color-lightskyblue2 { color: #A4D3EE; }
.color-lightskyblue2-background { background-color: #A4D3EE; }
.color-lightskyblue3 { color: #8DB6CD; }
.color-lightskyblue3-background { background-color: #8DB6CD; }
.color-lightskyblue4 { color: #607B8B; }
.color-lightskyblue4-background { background-color: #607B8B; }
.color-lightslateblue  { color: #8470FF; }
.color-lightslateblue-background  { background-color: #8470FF; }
.color-lightslategray  { color: #778899; }
.color-lightslategray-background  { background-color: #778899; }
.color-lightslategrey  { color: #778899; }
.color-lightslategrey-background  { background-color: #778899; }
.color-lightsteelblue  { color: #B0C4DE; }
.color-lightsteelblue-background  { background-color: #B0C4DE; }
.color-lightsteelblue1 { color: #CAE1FF; }
.color-lightsteelblue1-background { background-color: #CAE1FF; }
.color-lightsteelblue2 { color: #BCD2EE; }
.color-lightsteelblue2-background { background-color: #BCD2EE; }
.color-lightsteelblue3 { color: #A2B5CD; }
.color-lightsteelblue3-background { background-color: #A2B5CD; }
.color-lightsteelblue4 { color: #6E7B8B; }
.color-lightsteelblue4-background { background-color: #6E7B8B; }
.color-lightyellow { color: #FFFFE0; }
.color-lightyellow-background { background-color: #FFFFE0; }
.color-lightyellow1  { color: #FFFFE0; }
.color-lightyellow1-background  { background-color: #FFFFE0; }
.color-lightyellow2  { color: #EEEED1; }
.color-lightyellow2-background  { background-color: #EEEED1; }
.color-lightyellow3  { color: #CDCDB4; }
.color-lightyellow3-background  { background-color: #CDCDB4; }
.color-lightyellow4  { color: #8B8B7A; }
.color-lightyellow4-background  { background-color: #8B8B7A; }
.color-limegreen { color: #32CD32; }
.color-limegreen-background { background-color: #32CD32; }
.color-linen { color: #FAF0E6; }
.color-linen-background { background-color: #FAF0E6; }
.color-magenta { color: #FF00FF; }
.color-magenta-background { background-color: #FF00FF; }
.color-magenta1  { color: #FF00FF; }
.color-magenta1-background  { background-color: #FF00FF; }
.color-magenta2  { color: #EE00EE; }
.color-magenta2-background  { background-color: #EE00EE; }
.color-magenta3  { color: #CD00CD; }
.color-magenta3-background  { background-color: #CD00CD; }
.color-magenta4  { color: #8B008B; }
.color-magenta4-background  { background-color: #8B008B; }
.color-maroon  { color: #B03060; }
.color-maroon-background  { background-color: #B03060; }
.color-maroon1 { color: #FF34B3; }
.color-maroon1-background { background-color: #FF34B3; }
.color-maroon2 { color: #EE30A7; }
.color-maroon2-background { background-color: #EE30A7; }
.color-maroon3 { color: #CD2990; }
.color-maroon3-background { background-color: #CD2990; }
.color-maroon4 { color: #8B1C62; }
.color-maroon4-background { background-color: #8B1C62; }
.color-mediumaquamarine  { color: #66CDAA; }
.color-mediumaquamarine-background  { background-color: #66CDAA; }
.color-mediumblue  { color: #0000CD; }
.color-mediumblue-background  { background-color: #0000CD; }
.color-mediumorchid  { color: #BA55D3; }
.color-mediumorchid-background  { background-color: #BA55D3; }
.color-mediumorchid1 { color: #E066FF; }
.color-mediumorchid1-background { background-color: #E066FF; }
.color-mediumorchid2 { color: #D15FEE; }
.color-mediumorchid2-background { background-color: #D15FEE; }
.color-mediumorchid3 { color: #B452CD; }
.color-mediumorchid3-background { background-color: #B452CD; }
.color-mediumorchid4 { color: #7A378B; }
.color-mediumorchid4-background { background-color: #7A378B; }
.color-mediumpurple  { color: #9370DB; }
.color-mediumpurple-background  { background-color: #9370DB; }
.color-mediumpurple1 { color: #AB82FF; }
.color-mediumpurple1-background { background-color: #AB82FF; }
.color-mediumpurple2 { color: #9F79EE; }
.color-mediumpurple2-background { background-color: #9F79EE; }
.color-mediumpurple3 { color: #8968CD; }
.color-mediumpurple3-background { background-color: #8968CD; }
.color-mediumpurple4 { color: #5D478B; }
.color-mediumpurple4-background { background-color: #5D478B; }
.color-mediumseagreen  { color: #3CB371; }
.color-mediumseagreen-background  { background-color: #3CB371; }
.color-mediumslateblue { color: #7B68EE; }
.color-mediumslateblue-background { background-color: #7B68EE; }
.color-mediumspringgreen { color: #00FA9A; }
.color-mediumspringgreen-background { background-color: #00FA9A; }
.color-mediumturquoise { color: #48D1CC; }
.color-mediumturquoise-background { background-color: #48D1CC; }
.color-mediumvioletred { color: #C71585; }
.color-mediumvioletred-background { background-color: #C71585; }
.color-midnightblue  { color: #191970; }
.color-midnightblue-background  { background-color: #191970; }
.color-mintcream { color: #F5FFFA; }
.color-mintcream-background { background-color: #F5FFFA; }
.color-mistyrose { color: #FFE4E1; }
.color-mistyrose-background { background-color: #FFE4E1; }
.color-mistyrose1  { color: #FFE4E1; }
.color-mistyrose1-background  { background-color: #FFE4E1; }
.color-mistyrose2  { color: #EED5D2; }
.color-mistyrose2-background  { background-color: #EED5D2; }
.color-mistyrose3  { color: #CDB7B5; }
.color-mistyrose3-background  { background-color: #CDB7B5; }
.color-mistyrose4  { color: #8B7D7B; }
.color-mistyrose4-background  { background-color: #8B7D7B; }
.color-moccasin  { color: #FFE4B5; }
.color-moccasin-background  { background-color: #FFE4B5; }
.color-navajowhite { color: #FFDEAD; }
.color-navajowhite-background { background-color: #FFDEAD; }
.color-navajowhite1  { color: #FFDEAD; }
.color-navajowhite1-background  { background-color: #FFDEAD; }
.color-navajowhite2  { color: #EECFA1; }
.color-navajowhite2-background  { background-color: #EECFA1; }
.color-navajowhite3  { color: #CDB38B; }
.color-navajowhite3-background  { background-color: #CDB38B; }
.color-navajowhite4  { color: #8B795E; }
.color-navajowhite4-background  { background-color: #8B795E; }
.color-navy  { color: #000080; }
.color-navy-background  { background-color: #000080; }
.color-navyblue  { color: #000080; }
.color-navyblue-background  { background-color: #000080; }
.color-oldlace { color: #FDF5E6; }
.color-oldlace-background { background-color: #FDF5E6; }
.color-olivedrab { color: #6B8E23; }
.color-olivedrab-background { background-color: #6B8E23; }
.color-olivedrab1  { color: #C0FF3E; }
.color-olivedrab1-background  { background-color: #C0FF3E; }
.color-olivedrab2  { color: #B3EE3A; }
.color-olivedrab2-background  { background-color: #B3EE3A; }
.color-olivedrab3  { color: #9ACD32; }
.color-olivedrab3-background  { background-color: #9ACD32; }
.color-olivedrab4  { color: #698B22; }
.color-olivedrab4-background  { background-color: #698B22; }
.color-orange  { color: #FFA500; }
.color-orange-background  { background-color: #FFA500; }
.color-orange1 { color: #FFA500; }
.color-orange1-background { background-color: #FFA500; }
.color-orange2 { color: #EE9A00; }
.color-orange2-background { background-color: #EE9A00; }
.color-orange3 { color: #CD8500; }
.color-orange3-background { background-color: #CD8500; }
.color-orange4 { color: #8B5A00; }
.color-orange4-background { background-color: #8B5A00; }
.color-orangered { color: #FF4500; }
.color-orangered-background { background-color: #FF4500; }
.color-orangered1  { color: #FF4500; }
.color-orangered1-background  { background-color: #FF4500; }
.color-orangered2  { color: #EE4000; }
.color-orangered2-background  { background-color: #EE4000; }
.color-orangered3  { color: #CD3700; }
.color-orangered3-background  { background-color: #CD3700; }
.color-orangered4  { color: #8B2500; }
.color-orangered4-background  { background-color: #8B2500; }
.color-orchid  { color: #DA70D6; }
.color-orchid-background  { background-color: #DA70D6; }
.color-orchid1 { color: #FF83FA; }
.color-orchid1-background { background-color: #FF83FA; }
.color-orchid2 { color: #EE7AE9; }
.color-orchid2-background { background-color: #EE7AE9; }
.color-orchid3 { color: #CD69C9; }
.color-orchid3-background { background-color: #CD69C9; }
.color-orchid4 { color: #8B4789; }
.color-orchid4-background { background-color: #8B4789; }
.color-palegoldenrod { color: #EEE8AA; }
.color-palegoldenrod-background { background-color: #EEE8AA; }
.color-palegreen { color: #98FB98; }
.color-palegreen-background { background-color: #98FB98; }
.color-palegreen1  { color: #9AFF9A; }
.color-palegreen1-background  { background-color: #9AFF9A; }
.color-palegreen2  { color: #90EE90; }
.color-palegreen2-background  { background-color: #90EE90; }
.color-palegreen3  { color: #7CCD7C; }
.color-palegreen3-background  { background-color: #7CCD7C; }
.color-palegreen4  { color: #548B54; }
.color-palegreen4-background  { background-color: #548B54; }
.color-paleturquoise { color: #AFEEEE; }
.color-paleturquoise-background { background-color: #AFEEEE; }
.color-paleturquoise1  { color: #BBFFFF; }
.color-paleturquoise1-background  { background-color: #BBFFFF; }
.color-paleturquoise2  { color: #AEEEEE; }
.color-paleturquoise2-background  { background-color: #AEEEEE; }
.color-paleturquoise3  { color: #96CDCD; }
.color-paleturquoise3-background  { background-color: #96CDCD; }
.color-paleturquoise4  { color: #668B8B; }
.color-paleturquoise4-background  { background-color: #668B8B; }
.color-palevioletred { color: #DB7093; }
.color-palevioletred-background { background-color: #DB7093; }
.color-palevioletred1  { color: #FF82AB; }
.color-palevioletred1-background  { background-color: #FF82AB; }
.color-palevioletred2  { color: #EE799F; }
.color-palevioletred2-background  { background-color: #EE799F; }
.color-palevioletred3  { color: #CD6889; }
.color-palevioletred3-background  { background-color: #CD6889; }
.color-palevioletred4  { color: #8B475D; }
.color-palevioletred4-background  { background-color: #8B475D; }
.color-papayawhip  { color: #FFEFD5; }
.color-papayawhip-background  { background-color: #FFEFD5; }
.color-peachpuff { color: #FFDAB9; }
.color-peachpuff-background { background-color: #FFDAB9; }
.color-peachpuff1  { color: #FFDAB9; }
.color-peachpuff1-background  { background-color: #FFDAB9; }
.color-peachpuff2  { color: #EECBAD; }
.color-peachpuff2-background  { background-color: #EECBAD; }
.color-peachpuff3  { color: #CDAF95; }
.color-peachpuff3-background  { background-color: #CDAF95; }
.color-peachpuff4  { color: #8B7765; }
.color-peachpuff4-background  { background-color: #8B7765; }
.color-peru  { color: #CD853F; }
.color-peru-background  { background-color: #CD853F; }
.color-pink  { color: #FFC0CB; }
.color-pink-background  { background-color: #FFC0CB; }
.color-pink1 { color: #FFB5C5; }
.color-pink1-background { background-color: #FFB5C5; }
.color-pink2 { color: #EEA9B8; }
.color-pink2-background { background-color: #EEA9B8; }
.color-pink3 { color: #CD919E; }
.color-pink3-background { background-color: #CD919E; }
.color-pink4 { color: #8B636C; }
.color-pink4-background { background-color: #8B636C; }
.color-plum  { color: #DDA0DD; }
.color-plum-background  { background-color: #DDA0DD; }
.color-plum1 { color: #FFBBFF; }
.color-plum1-background { background-color: #FFBBFF; }
.color-plum2 { color: #EEAEEE; }
.color-plum2-background { background-color: #EEAEEE; }
.color-plum3 { color: #CD96CD; }
.color-plum3-background { background-color: #CD96CD; }
.color-plum4 { color: #8B668B; }
.color-plum4-background { background-color: #8B668B; }
.color-powderblue  { color: #B0E0E6; }
.color-powderblue-background  { background-color: #B0E0E6; }
.color-purple  { color: #A020F0; }
.color-purple-background  { background-color: #A020F0; }
.color-purple1 { color: #9B30FF; }
.color-purple1-background { background-color: #9B30FF; }
.color-purple2 { color: #912CEE; }
.color-purple2-background { background-color: #912CEE; }
.color-purple3 { color: #7D26CD; }
.color-purple3-background { background-color: #7D26CD; }
.color-purple4 { color: #551A8B; }
.color-purple4-background { background-color: #551A8B; }
.color-red { color: #FF0000; }
.color-red-background { background-color: #FF0000; }
.color-red1  { color: #FF0000; }
.color-red1-background  { background-color: #FF0000; }
.color-red2  { color: #EE0000; }
.color-red2-background  { background-color: #EE0000; }
.color-red3  { color: #CD0000; }
.color-red3-background  { background-color: #CD0000; }
.color-red4  { color: #8B0000; }
.color-red4-background  { background-color: #8B0000; }
.color-rosybrown { color: #BC8F8F; }
.color-rosybrown-background { background-color: #BC8F8F; }
.color-rosybrown1  { color: #FFC1C1; }
.color-rosybrown1-background  { background-color: #FFC1C1; }
.color-rosybrown2  { color: #EEB4B4; }
.color-rosybrown2-background  { background-color: #EEB4B4; }
.color-rosybrown3  { color: #CD9B9B; }
.color-rosybrown3-background  { background-color: #CD9B9B; }
.color-rosybrown4  { color: #8B6969; }
.color-rosybrown4-background  { background-color: #8B6969; }
.color-royalblue { color: #4169E1; }
.color-royalblue-background { background-color: #4169E1; }
.color-royalblue1  { color: #4876FF; }
.color-royalblue1-background  { background-color: #4876FF; }
.color-royalblue2  { color: #436EEE; }
.color-royalblue2-background  { background-color: #436EEE; }
.color-royalblue3  { color: #3A5FCD; }
.color-royalblue3-background  { background-color: #3A5FCD; }
.color-royalblue4  { color: #27408B; }
.color-royalblue4-background  { background-color: #27408B; }
.color-saddlebrown { color: #8B4513; }
.color-saddlebrown-background { background-color: #8B4513; }
.color-salmon  { color: #FA8072; }
.color-salmon-background  { background-color: #FA8072; }
.color-salmon1 { color: #FF8C69; }
.color-salmon1-background { background-color: #FF8C69; }
.color-salmon2 { color: #EE8262; }
.color-salmon2-background { background-color: #EE8262; }
.color-salmon3 { color: #CD7054; }
.color-salmon3-background { background-color: #CD7054; }
.color-salmon4 { color: #8B4C39; }
.color-salmon4-background { background-color: #8B4C39; }
.color-sandybrown  { color: #F4A460; }
.color-sandybrown-background  { background-color: #F4A460; }
.color-seagreen  { color: #2E8B57; }
.color-seagreen-background  { background-color: #2E8B57; }
.color-seagreen1 { color: #54FF9F; }
.color-seagreen1-background { background-color: #54FF9F; }
.color-seagreen2 { color: #4EEE94; }
.color-seagreen2-background { background-color: #4EEE94; }
.color-seagreen3 { color: #43CD80; }
.color-seagreen3-background { background-color: #43CD80; }
.color-seagreen4 { color: #2E8B57; }
.color-seagreen4-background { background-color: #2E8B57; }
.color-seashell  { color: #FFF5EE; }
.color-seashell-background  { background-color: #FFF5EE; }
.color-seashell1 { color: #FFF5EE; }
.color-seashell1-background { background-color: #FFF5EE; }
.color-seashell2 { color: #EEE5DE; }
.color-seashell2-background { background-color: #EEE5DE; }
.color-seashell3 { color: #CDC5BF; }
.color-seashell3-background { background-color: #CDC5BF; }
.color-seashell4 { color: #8B8682; }
.color-seashell4-background { background-color: #8B8682; }
.color-sienna  { color: #A0522D; }
.color-sienna-background  { background-color: #A0522D; }
.color-sienna1 { color: #FF8247; }
.color-sienna1-background { background-color: #FF8247; }
.color-sienna2 { color: #EE7942; }
.color-sienna2-background { background-color: #EE7942; }
.color-sienna3 { color: #CD6839; }
.color-sienna3-background { background-color: #CD6839; }
.color-sienna4 { color: #8B4726; }
.color-sienna4-background { background-color: #8B4726; }
.color-skyblue { color: #87CEEB; }
.color-skyblue-background { background-color: #87CEEB; }
.color-skyblue1  { color: #87CEFF; }
.color-skyblue1-background  { background-color: #87CEFF; }
.color-skyblue2  { color: #7EC0EE; }
.color-skyblue2-background  { background-color: #7EC0EE; }
.color-skyblue3  { color: #6CA6CD; }
.color-skyblue3-background  { background-color: #6CA6CD; }
.color-skyblue4  { color: #4A708B; }
.color-skyblue4-background  { background-color: #4A708B; }
.color-slateblue { color: #6A5ACD; }
.color-slateblue-background { background-color: #6A5ACD; }
.color-slateblue1  { color: #836FFF; }
.color-slateblue1-background  { background-color: #836FFF; }
.color-slateblue2  { color: #7A67EE; }
.color-slateblue2-background  { background-color: #7A67EE; }
.color-slateblue3  { color: #6959CD; }
.color-slateblue3-background  { background-color: #6959CD; }
.color-slateblue4  { color: #473C8B; }
.color-slateblue4-background  { background-color: #473C8B; }
.color-slategray { color: #708090; }
.color-slategray-background { background-color: #708090; }
.color-slategray1  { color: #C6E2FF; }
.color-slategray1-background  { background-color: #C6E2FF; }
.color-slategray2  { color: #B9D3EE; }
.color-slategray2-background  { background-color: #B9D3EE; }
.color-slategray3  { color: #9FB6CD; }
.color-slategray3-background  { background-color: #9FB6CD; }
.color-slategray4  { color: #6C7B8B; }
.color-slategray4-background  { background-color: #6C7B8B; }
.color-slategrey { color: #708090; }
.color-slategrey-background { background-color: #708090; }
.color-snow  { color: #FFFAFA; }
.color-snow-background  { background-color: #FFFAFA; }
.color-snow1 { color: #FFFAFA; }
.color-snow1-background { background-color: #FFFAFA; }
.color-snow2 { color: #EEE9E9; }
.color-snow2-background { background-color: #EEE9E9; }
.color-snow3 { color: #CDC9C9; }
.color-snow3-background { background-color: #CDC9C9; }
.color-snow4 { color: #8B8989; }
.color-snow4-background { background-color: #8B8989; }
.color-springgreen { color: #00FF7F; }
.color-springgreen-background { background-color: #00FF7F; }
.color-springgreen1  { color: #00FF7F; }
.color-springgreen1-background  { background-color: #00FF7F; }
.color-springgreen2  { color: #00EE76; }
.color-springgreen2-background  { background-color: #00EE76; }
.color-springgreen3  { color: #00CD66; }
.color-springgreen3-background  { background-color: #00CD66; }
.color-springgreen4  { color: #008B45; }
.color-springgreen4-background  { background-color: #008B45; }
.color-steelblue { color: #4682B4; }
.color-steelblue-background { background-color: #4682B4; }
.color-steelblue1  { color: #63B8FF; }
.color-steelblue1-background  { background-color: #63B8FF; }
.color-steelblue2  { color: #5CACEE; }
.color-steelblue2-background  { background-color: #5CACEE; }
.color-steelblue3  { color: #4F94CD; }
.color-steelblue3-background  { background-color: #4F94CD; }
.color-steelblue4  { color: #36648B; }
.color-steelblue4-background  { background-color: #36648B; }
.color-tan { color: #D2B48C; }
.color-tan-background { background-color: #D2B48C; }
.color-tan1  { color: #FFA54F; }
.color-tan1-background  { background-color: #FFA54F; }
.color-tan2  { color: #EE9A49; }
.color-tan2-background  { background-color: #EE9A49; }
.color-tan3  { color: #CD853F; }
.color-tan3-background  { background-color: #CD853F; }
.color-tan4  { color: #8B5A2B; }
.color-tan4-background  { background-color: #8B5A2B; }
.color-thistle { color: #D8BFD8; }
.color-thistle-background { background-color: #D8BFD8; }
.color-thistle1  { color: #FFE1FF; }
.color-thistle1-background  { background-color: #FFE1FF; }
.color-thistle2  { color: #EED2EE; }
.color-thistle2-background  { background-color: #EED2EE; }
.color-thistle3  { color: #CDB5CD; }
.color-thistle3-background  { background-color: #CDB5CD; }
.color-thistle4  { color: #8B7B8B; }
.color-thistle4-background  { background-color: #8B7B8B; }
.color-tomato  { color: #FF6347; }
.color-tomato-background  { background-color: #FF6347; }
.color-tomato1 { color: #FF6347; }
.color-tomato1-background { background-color: #FF6347; }
.color-tomato2 { color: #EE5C42; }
.color-tomato2-background { background-color: #EE5C42; }
.color-tomato3 { color: #CD4F39; }
.color-tomato3-background { background-color: #CD4F39; }
.color-tomato4 { color: #8B3626; }
.color-tomato4-background { background-color: #8B3626; }
.color-turquoise { color: #40E0D0; }
.color-turquoise-background { background-color: #40E0D0; }
.color-turquoise1  { color: #00F5FF; }
.color-turquoise1-background  { background-color: #00F5FF; }
.color-turquoise2  { color: #00E5EE; }
.color-turquoise2-background  { background-color: #00E5EE; }
.color-turquoise3  { color: #00C5CD; }
.color-turquoise3-background  { background-color: #00C5CD; }
.color-turquoise4  { color: #00868B; }
.color-turquoise4-background  { background-color: #00868B; }
.color-violet  { color: #EE82EE; }
.color-violet-background  { background-color: #EE82EE; }
.color-violetred { color: #D02090; }
.color-violetred-background { background-color: #D02090; }
.color-violetred1  { color: #FF3E96; }
.color-violetred1-background  { background-color: #FF3E96; }
.color-violetred2  { color: #EE3A8C; }
.color-violetred2-background  { background-color: #EE3A8C; }
.color-violetred3  { color: #CD3278; }
.color-violetred3-background  { background-color: #CD3278; }
.color-violetred4  { color: #8B2252; }
.color-violetred4-background  { background-color: #8B2252; }
.color-wheat { color: #F5DEB3; }
.color-wheat-background { background-color: #F5DEB3; }
.color-wheat1  { color: #FFE7BA; }
.color-wheat1-background  { background-color: #FFE7BA; }
.color-wheat2  { color: #EED8AE; }
.color-wheat2-background  { background-color: #EED8AE; }
.color-wheat3  { color: #CDBA96; }
.color-wheat3-background  { background-color: #CDBA96; }
.color-wheat4  { color: #8B7E66; }
.color-wheat4-background  { background-color: #8B7E66; }
.color-white { color: #FFFFFF; }
.color-white-background { background-color: #FFFFFF; }
.color-whitesmoke  { color: #F5F5F5; }
.color-whitesmoke-background  { background-color: #F5F5F5; }
.color-yellow  { color: #FFFF00; }
.color-yellow-background  { background-color: #FFFF00; }
.color-yellow1 { color: #FFFF00; }
.color-yellow1-background { background-color: #FFFF00; }
.color-yellow2 { color: #EEEE00; }
.color-yellow2-background { background-color: #EEEE00; }
.color-yellow3 { color: #CDCD00; }
.color-yellow3-background { background-color: #CDCD00; }
.color-yellow4 { color: #8B8B00; }
.color-yellow4-background { background-color: #8B8B00; }
.color-yellowgreen { color: #9ACD32; }
.color-yellowgreen-background { background-color: #9ACD32; }
