@import 'colors';

.drop-target {
    position: relative;
}
.drop-target::before {
    content: 'Drop your files here';
    text-shadow: 1px 1px 1px black, 0px 0px 1em white, 0px 0px 1em white;
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    color: #cccccc;
    text-align: center;
    font-size: 300%;
    line-height: 1em;
    margin-top: -1em;
    z-index: 1;
}
