.x-form-crosslink-files-wrap {
    border: none;
    margin: 1px;
    box-shadow: 0px 0px 0px 1px gray;
    overflow: hidden;
    font-family: FontAwesome;
    a {
        text-decoration: none;
    }

    &.height-scale {
        .thumb-wrap {
            img {
                height: auto;
                max-width: 100%;
            }
        }
    }

    &.width-scale {
        .thumb-wrap {
            img {
                width: auto;
                max-height: 100%;
            }
        }
    }

    .thumb-wrap {
        float: left;
        margin: 8px 0 0 8px;

       -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        position: relative;
        word-wrap: break-word;
        height:90px;
        width: 64px;
        overflow: hidden;

        .trash {
            position: absolute;
            top: -0.14em;
            right: 0;
            color: red;
            font-size: 24px;
            line-height: 100%;
            text-shadow: -1px 0px 0px white, 1px 0px 0px white;
        }

        &.new::before {
            content: '\0f01b';
            position:absolute;
            font-family: FontAwesome;
            color: white;
            text-shadow: 0px 0px 6px black;
            font-size: 28px;
            padding: 2px;
            line-height: 1em;
        }

        &.done::before {
            content: '\0f05d';
        }

        &.upload::before {
            content: '\0f01e';
            animation-name: spin;
            animation-duration: 4000ms;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        &.x-grid-item-over {
            overflow: visible;
        }

        img {
             max-height: 64px;
        }

        .thumb {
            height: 64px;
        }
    }
}

.x-form-crosslink-files-single {
    .thumb-wrap {
        margin: 0;
        height: 100%;
        width: 100%;

        img, .thumb {
            height: 100%;
            max-height: 100%;
            overflow: hidden;
        }
    }
}

@keyframes spin {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}

